@charset "UTF-8";
@import 'https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
.info, .note, .warn, .theorem {
  display: flex;
  flex-direction: column;
  border-left: 8px solid;
  border-radius: 4px;
  padding: 0.6em 1.2em 0.6em 1.2em;
  margin-bottom: 0.6rem;
}
.info .caption, .note .caption, .warn .caption, .theorem .caption {
  width: 100%;
  height: 1.2em;
  font-size: var(--font-size-text-large);
  font-weight: bold;
  margin-bottom: 0.5em;
  display: inline-flex;
  align-items: center;
}
.info .caption::before, .note .caption::before, .warn .caption::before, .theorem .caption::before {
  width: 1.9em;
  margin: 0.3em 0.6em 0 0;
}

.info {
  background-color: rgb(163, 212, 250);
  border-color: rgb(55, 166, 250);
}
.info .caption::before {
  content: url("assets/template/info.svg");
  width: 1.7em;
}

.warn {
  background-color: rgb(249, 119, 154);
  border-color: rgb(180, 43, 80);
}
.warn .caption::before {
  content: url("assets/template/warning.svg");
}

.theorem {
  background-color: rgb(249, 188, 119);
  border-color: rgb(192, 129, 56);
}
.theorem .caption::before {
  content: url("assets/template/book.svg");
}

:root {
  --vs-prism--background: #0c3a68;
  --vs-prism--color: #f8f8f2;
  --vs-prism--color-comment: #6a9955;
  --vs-prism--color-prolog: #6a9955;
  --vs-prism--color-doctype: #569CD6;
  --vs-prism--color-cdata: #808080;
  --vs-prism--color-punctuation: #d4d4d4;
  --vs-prism--color-namespace: rgba(248, 248, 242, 0.7);
  --vs-prism--color-property: #f92672;
  --vs-prism--color-tag: #f92672;
  --vs-prism--color-constant: #f92672;
  --vs-prism--color-symbol: #f92672;
  --vs-prism--color-deleted: #f92672;
  --vs-prism--color-boolean: #ae81ff;
  --vs-prism--color-number: #ae81ff;
  --vs-prism--color-selector: #a6e22e;
  --vs-prism--color-attr-name: #a6e22e;
  --vs-prism--color-string: #a6e22e;
  --vs-prism--color-char: #a6e22e;
  --vs-prism--color-builtin: #a6e22e;
  --vs-prism--color-inserted: #a6e22e;
  --vs-prism--color-entity: #f8f8f2;
  --vs-prism--color-url: #f8f8f2;
  --vs-prism--color-variable: #f8f8f2;
  --vs-prism--color-attr-value: #f8f8f2;
  --vs-prism--color-atrule: #e6db74;
  --vs-prism--color-class-name: #e6db74;
  --vs-prism--color-function: #96f4fe;
  --vs-prism--color-keyword: #ff9b3d;
  --vs-prism--color-operator: #ff9b3d;
  --vs-prism--color-regex: #fd971f;
  --vs-prism--color-important: #fd971f;
  --vs-prism--text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

:root {
  --vs-crossref--root-counter-reset: vs-counter-fig vs-counter-tbl
  vs-counter-cite counter-code counter-eq;
}

a:is([data-ref=code], [data-ref=eq]) {
  -webkit-text-decoration: var(--vs-crossref--anchor-text-decoration);
  text-decoration: var(--vs-crossref--anchor-text-decoration);
  margin-inline: var(--vs-crossref--call-margin-inline);
}
a:is([data-ref=code], [data-ref=eq]):hover {
  -webkit-text-decoration: var(--vs-crossref--anchor-text-decoration-on-hover);
  text-decoration: var(--vs-crossref--anchor-text-decoration-on-hover);
}

a[data-ref=code]::before {
  display: var(--vs-crossref--call-display);
  content: "コード " target-counter(attr(href), counter-code, var(--vs-crossref--counter-style));
}

@media screen {
  a[data-ref=code]::before {
    content: "コード ???";
  }
}
figure:is(.code, :has(pre code)) {
  counter-increment: counter-code;
}
figure:is(.code, :has(pre code)) figcaption::before {
  display: var(--vs-crossref--marker-display);
  content: "コード " counter(counter-code, var(--vs-crossref--counter-style)) ": ";
  margin-inline: var(--vs-crossref--marker-margin-inline);
}

a[data-ref=eq]::before {
  display: var(--vs-crossref--call-display);
  content: "式(" target-counter(attr(href), counter-eq, var(--vs-crossref--counter-style)) ")";
}

@media screen {
  a[data-ref=eq]::before {
    content: "式(???)";
  }
}
figure:has(figcaption.math-label) {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
}
figure:has(figcaption.math-label) p {
  margin-top: 0;
}
figure:has(figcaption.math-label) figcaption.math-label {
  counter-increment: counter-eq;
  position: absolute;
  right: 1.5em;
  top: 0.7em;
}
figure:has(figcaption.math-label) figcaption.math-label::before {
  content: "(" counter(counter-eq, var(--vs-crossref--counter-style)) ")";
}

.red {
  color: var(--color-red);
}

.blue {
  color: var(--color-blue);
}

.green {
  color: var(--color-green);
}

.yellow {
  color: var(--color-yellow);
}

.orange {
  color: var(--color-orange);
}

.purple {
  color: var(--color-purple);
}

.pink {
  color: var(--color-pink);
}

.light-blue {
  color: var(--color-light-blue);
}

.light-green {
  color: var(--color-light-green);
}

.bg-red {
  background-color: rgba(var(--color-red-rgb), 0.8);
}

.bg-blue {
  background-color: rgba(var(--color-blue-rgb), 0.8);
}

.bg-green {
  background-color: rgba(var(--color-green-rgb), 0.8);
}

.bg-yellow {
  background-color: rgba(var(--color-yellow-rgb), 0.8);
}

.bg-orange {
  background-color: rgba(var(--color-orange-rgb), 0.8);
}

.bg-purple {
  background-color: rgba(var(--color-purple-rgb), 0.8);
}

.bg-pink {
  background-color: rgba(var(--color-pink-rgb), 0.8);
}

.bg-light-blue {
  background-color: rgba(var(--color-light-blue-rgb), 0.8);
}

.bg-light-green {
  background-color: rgba(var(--color-light-green-rgb), 0.8);
}

.text-decoration-red {
  -webkit-text-decoration-color: var(--color-red);
  text-decoration-color: var(--color-red);
}

.text-decoration-blue {
  -webkit-text-decoration-color: var(--color-blue);
  text-decoration-color: var(--color-blue);
}

.text-decoration-green {
  -webkit-text-decoration-color: var(--color-green);
  text-decoration-color: var(--color-green);
}

.text-decoration-yellow {
  -webkit-text-decoration-color: var(--color-yellow);
  text-decoration-color: var(--color-yellow);
}

.text-decoration-orange {
  -webkit-text-decoration-color: var(--color-orange);
  text-decoration-color: var(--color-orange);
}

.text-decoration-purple {
  -webkit-text-decoration-color: var(--color-purple);
  text-decoration-color: var(--color-purple);
}

.text-decoration-pink {
  -webkit-text-decoration-color: var(--color-pink);
  text-decoration-color: var(--color-pink);
}

.text-decoration-light-blue {
  -webkit-text-decoration-color: var(--color-light-blue);
  text-decoration-color: var(--color-light-blue);
}

.text-decoration-light-green {
  -webkit-text-decoration-color: var(--color-light-green);
  text-decoration-color: var(--color-light-green);
}

.border-red {
  border-style: solid;
  border-color: var(--color-red);
  border-width: 2px;
}

.border-blue {
  border-style: solid;
  border-color: var(--color-blue);
  border-width: 2px;
}

.border-green {
  border-style: solid;
  border-color: var(--color-green);
  border-width: 2px;
}

.border-yellow {
  border-style: solid;
  border-color: var(--color-yellow);
  border-width: 2px;
}

.border-orange {
  border-style: solid;
  border-color: var(--color-orange);
  border-width: 2px;
}

.border-purple {
  border-style: solid;
  border-color: var(--color-purple);
  border-width: 2px;
}

.border-pink {
  border-style: solid;
  border-color: var(--color-pink);
  border-width: 2px;
}

.border-light-blue {
  border-style: solid;
  border-color: var(--color-light-blue);
  border-width: 2px;
}

.border-light-green {
  border-style: solid;
  border-color: var(--color-light-green);
  border-width: 2px;
}

.table-red caption {
  color: var(--color-red);
}
.table-red th, .table-red td {
  border-style: solid;
}
.table-red th:not(#fake), .table-red td:not(#fake) {
  border-style: solid;
  border-width: 0.5mm;
  border-color: var(--color-red);
}
.table-red th {
  color: var(--color-red);
  text-align: center;
}
.table-red tr:nth-child(odd):not(#fake) {
  background-color: rgba(var(--color-red-rgb), 0.2);
}

.table-blue caption {
  color: var(--color-blue);
}
.table-blue th, .table-blue td {
  border-style: solid;
}
.table-blue th:not(#fake), .table-blue td:not(#fake) {
  border-style: solid;
  border-width: 0.5mm;
  border-color: var(--color-blue);
}
.table-blue th {
  color: var(--color-blue);
  text-align: center;
}
.table-blue tr:nth-child(odd):not(#fake) {
  background-color: rgba(var(--color-blue-rgb), 0.2);
}

.table-green caption {
  color: var(--color-green);
}
.table-green th, .table-green td {
  border-style: solid;
}
.table-green th:not(#fake), .table-green td:not(#fake) {
  border-style: solid;
  border-width: 0.5mm;
  border-color: var(--color-green);
}
.table-green th {
  color: var(--color-green);
  text-align: center;
}
.table-green tr:nth-child(odd):not(#fake) {
  background-color: rgba(var(--color-green-rgb), 0.2);
}

.table-yellow caption {
  color: var(--color-yellow);
}
.table-yellow th, .table-yellow td {
  border-style: solid;
}
.table-yellow th:not(#fake), .table-yellow td:not(#fake) {
  border-style: solid;
  border-width: 0.5mm;
  border-color: var(--color-yellow);
}
.table-yellow th {
  color: var(--color-yellow);
  text-align: center;
}
.table-yellow tr:nth-child(odd):not(#fake) {
  background-color: rgba(var(--color-yellow-rgb), 0.2);
}

.table-orange caption {
  color: var(--color-orange);
}
.table-orange th, .table-orange td {
  border-style: solid;
}
.table-orange th:not(#fake), .table-orange td:not(#fake) {
  border-style: solid;
  border-width: 0.5mm;
  border-color: var(--color-orange);
}
.table-orange th {
  color: var(--color-orange);
  text-align: center;
}
.table-orange tr:nth-child(odd):not(#fake) {
  background-color: rgba(var(--color-orange-rgb), 0.2);
}

.table-purple caption {
  color: var(--color-purple);
}
.table-purple th, .table-purple td {
  border-style: solid;
}
.table-purple th:not(#fake), .table-purple td:not(#fake) {
  border-style: solid;
  border-width: 0.5mm;
  border-color: var(--color-purple);
}
.table-purple th {
  color: var(--color-purple);
  text-align: center;
}
.table-purple tr:nth-child(odd):not(#fake) {
  background-color: rgba(var(--color-purple-rgb), 0.2);
}

.table-pink caption {
  color: var(--color-pink);
}
.table-pink th, .table-pink td {
  border-style: solid;
}
.table-pink th:not(#fake), .table-pink td:not(#fake) {
  border-style: solid;
  border-width: 0.5mm;
  border-color: var(--color-pink);
}
.table-pink th {
  color: var(--color-pink);
  text-align: center;
}
.table-pink tr:nth-child(odd):not(#fake) {
  background-color: rgba(var(--color-pink-rgb), 0.2);
}

.table-light-blue caption {
  color: var(--color-light-blue);
}
.table-light-blue th, .table-light-blue td {
  border-style: solid;
}
.table-light-blue th:not(#fake), .table-light-blue td:not(#fake) {
  border-style: solid;
  border-width: 0.5mm;
  border-color: var(--color-light-blue);
}
.table-light-blue th {
  color: var(--color-light-blue);
  text-align: center;
}
.table-light-blue tr:nth-child(odd):not(#fake) {
  background-color: rgba(var(--color-light-blue-rgb), 0.2);
}

.table-light-green caption {
  color: var(--color-light-green);
}
.table-light-green th, .table-light-green td {
  border-style: solid;
}
.table-light-green th:not(#fake), .table-light-green td:not(#fake) {
  border-style: solid;
  border-width: 0.5mm;
  border-color: var(--color-light-green);
}
.table-light-green th {
  color: var(--color-light-green);
  text-align: center;
}
.table-light-green tr:nth-child(odd):not(#fake) {
  background-color: rgba(var(--color-light-green-rgb), 0.2);
}

.font-xlarge {
  font-size: 1.5em;
}

.font-large {
  font-size: 1.2em;
}

.font-small {
  font-size: 0.8em;
}

.font-xsmall {
  font-size: 0.6em;
}

.under-line {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.border {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.text-align-left {
  text-align: left;
}

table.text-align-left td {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

table.text-align-right td {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

table.text-align-center td {
  text-align: center;
}

.list-col-2-col, .list-col-2-row, .list-col-2-row-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  --row-gap: 0em;
}
.list-col-2-col ul, .list-col-2-row ul, .list-col-2-row-flex ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
  width: 100%;
}

.list-col-2-col {
  --row-number: 8;
}
.list-col-2-col ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: var(--row-gap);
  grid-template-rows: repeat(var(--row-number), auto);
  grid-auto-flow: column;
}
.list-col-2-col ul li {
  max-width: calc(100% - 1em);
}

.list-col-2-row ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: var(--row-gap);
  grid-auto-rows: auto;
  grid-auto-flow: row;
}
.list-col-2-row ul li {
  max-width: calc(100% - 1em);
}

.list-col-2-row-flex {
  --account-number: 1;
}
.list-col-2-row-flex ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--row-gap);
}
.list-col-2-row-flex ul li {
  width: calc(100% * var(--account-number) / 2);
  padding-right: 1.2em;
}

.list-col-3-col, .list-col-3-row, .list-col-3-row-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  --row-gap: 0em;
}
.list-col-3-col ul, .list-col-3-row ul, .list-col-3-row-flex ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
  width: 100%;
}

.list-col-3-col {
  --row-number: 8;
}
.list-col-3-col ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: var(--row-gap);
  grid-template-rows: repeat(var(--row-number), auto);
  grid-auto-flow: column;
}
.list-col-3-col ul li {
  max-width: calc(100% - 1em);
}

.list-col-3-row ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: var(--row-gap);
  grid-auto-rows: auto;
  grid-auto-flow: row;
}
.list-col-3-row ul li {
  max-width: calc(100% - 1em);
}

.list-col-3-row-flex {
  --account-number: 1;
}
.list-col-3-row-flex ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--row-gap);
}
.list-col-3-row-flex ul li {
  width: calc(100% * var(--account-number) / 3);
  padding-right: 1.2em;
}

.list-col-4-col, .list-col-4-row, .list-col-4-row-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  --row-gap: 0em;
}
.list-col-4-col ul, .list-col-4-row ul, .list-col-4-row-flex ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
  width: 100%;
}

.list-col-4-col {
  --row-number: 8;
}
.list-col-4-col ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: var(--row-gap);
  grid-template-rows: repeat(var(--row-number), auto);
  grid-auto-flow: column;
}
.list-col-4-col ul li {
  max-width: calc(100% - 1em);
}

.list-col-4-row ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: var(--row-gap);
  grid-auto-rows: auto;
  grid-auto-flow: row;
}
.list-col-4-row ul li {
  max-width: calc(100% - 1em);
}

.list-col-4-row-flex {
  --account-number: 1;
}
.list-col-4-row-flex ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--row-gap);
}
.list-col-4-row-flex ul li {
  width: calc(100% * var(--account-number) / 4);
  padding-right: 1.2em;
}

.list-col-5-col, .list-col-5-row, .list-col-5-row-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  --row-gap: 0em;
}
.list-col-5-col ul, .list-col-5-row ul, .list-col-5-row-flex ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
  width: 100%;
}

.list-col-5-col {
  --row-number: 8;
}
.list-col-5-col ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: var(--row-gap);
  grid-template-rows: repeat(var(--row-number), auto);
  grid-auto-flow: column;
}
.list-col-5-col ul li {
  max-width: calc(100% - 1em);
}

.list-col-5-row ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: var(--row-gap);
  grid-auto-rows: auto;
  grid-auto-flow: row;
}
.list-col-5-row ul li {
  max-width: calc(100% - 1em);
}

.list-col-5-row-flex {
  --account-number: 1;
}
.list-col-5-row-flex ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--row-gap);
}
.list-col-5-row-flex ul li {
  width: calc(100% * var(--account-number) / 5);
  padding-right: 1.2em;
}

.list-col-6-col, .list-col-6-row, .list-col-6-row-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  --row-gap: 0em;
}
.list-col-6-col ul, .list-col-6-row ul, .list-col-6-row-flex ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
  width: 100%;
}

.list-col-6-col {
  --row-number: 8;
}
.list-col-6-col ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: var(--row-gap);
  grid-template-rows: repeat(var(--row-number), auto);
  grid-auto-flow: column;
}
.list-col-6-col ul li {
  max-width: calc(100% - 1em);
}

.list-col-6-row ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: var(--row-gap);
  grid-auto-rows: auto;
  grid-auto-flow: row;
}
.list-col-6-row ul li {
  max-width: calc(100% - 1em);
}

.list-col-6-row-flex {
  --account-number: 1;
}
.list-col-6-row-flex ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--row-gap);
}
.list-col-6-row-flex ul li {
  width: calc(100% * var(--account-number) / 6);
  padding-right: 1.2em;
}

.list-row-2-row, .list-row-2-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-2-row ul, .list-row-2-col ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: var(--column-gap);
}
.list-row-2-row ul li, .list-row-2-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-2-row {
  --column-number: 4;
}
.list-row-2-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-2-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-3-row, .list-row-3-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-3-row ul, .list-row-3-col ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: var(--column-gap);
}
.list-row-3-row ul li, .list-row-3-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-3-row {
  --column-number: 4;
}
.list-row-3-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-3-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-4-row, .list-row-4-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-4-row ul, .list-row-4-col ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: var(--column-gap);
}
.list-row-4-row ul li, .list-row-4-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-4-row {
  --column-number: 4;
}
.list-row-4-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-4-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-5-row, .list-row-5-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-5-row ul, .list-row-5-col ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, auto);
  row-gap: var(--column-gap);
}
.list-row-5-row ul li, .list-row-5-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-5-row {
  --column-number: 4;
}
.list-row-5-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-5-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-6-row, .list-row-6-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-6-row ul, .list-row-6-col ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: var(--column-gap);
}
.list-row-6-row ul li, .list-row-6-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-6-row {
  --column-number: 4;
}
.list-row-6-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-6-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-7-row, .list-row-7-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-7-row ul, .list-row-7-col ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(7, auto);
  row-gap: var(--column-gap);
}
.list-row-7-row ul li, .list-row-7-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-7-row {
  --column-number: 4;
}
.list-row-7-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-7-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-8-row, .list-row-8-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-8-row ul, .list-row-8-col ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(8, auto);
  row-gap: var(--column-gap);
}
.list-row-8-row ul li, .list-row-8-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-8-row {
  --column-number: 4;
}
.list-row-8-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-8-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-9-row, .list-row-9-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-9-row ul, .list-row-9-col ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(9, auto);
  row-gap: var(--column-gap);
}
.list-row-9-row ul li, .list-row-9-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-9-row {
  --column-number: 4;
}
.list-row-9-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-9-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-10-row, .list-row-10-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-10-row ul, .list-row-10-col ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(10, auto);
  row-gap: var(--column-gap);
}
.list-row-10-row ul li, .list-row-10-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-10-row {
  --column-number: 4;
}
.list-row-10-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-10-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.table-col-2 {
  border-collapse: collapse;
  width: 100%;
}
.table-col-2 th, .table-col-2 td {
  width: 50%;
}

.table-col-3 {
  border-collapse: collapse;
  width: 100%;
}
.table-col-3 th, .table-col-3 td {
  width: 33.3333333333%;
}

.table-col-4 {
  border-collapse: collapse;
  width: 100%;
}
.table-col-4 th, .table-col-4 td {
  width: 25%;
}

.table-col-5 {
  border-collapse: collapse;
  width: 100%;
}
.table-col-5 th, .table-col-5 td {
  width: 20%;
}

.table-col-6 {
  border-collapse: collapse;
  width: 100%;
}
.table-col-6 th, .table-col-6 td {
  width: 16.6666666667%;
}

.table-col-7 {
  border-collapse: collapse;
  width: 100%;
}
.table-col-7 th, .table-col-7 td {
  width: 14.2857142857%;
}

.table-col-8 {
  border-collapse: collapse;
  width: 100%;
}
.table-col-8 th, .table-col-8 td {
  width: 12.5%;
}

.table-col-9 {
  border-collapse: collapse;
  width: 100%;
}
.table-col-9 th, .table-col-9 td {
  width: 11.1111111111%;
}

.table-col-10 {
  border-collapse: collapse;
  width: 100%;
}
.table-col-10 th, .table-col-10 td {
  width: 10%;
}

.layout-col-2 {
  --left-width: 1fr;
  --right-width: 1fr;
  --gap: 0;
  display: grid;
  grid-template-columns: var(--left-width) var(--right-width);
  grid-auto-flow: row;
  row-gap: var(--gap);
}

.layout-col-3 {
  --left-width: 1fr;
  --center-width: 1fr;
  --right-width: 1fr;
  --gap: 0;
  display: grid;
  grid-template-columns: var(--left-width) var(--center-width) var(--right-width);
  grid-auto-flow: row;
  row-gap: var(--gap);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-clear-left {
  clear: left;
}

.float-clear-right {
  clear: right;
}

.flex-col {
  --gap: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}

.flex-row {
  --gap: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}

:root {
  --font-size-text: var(--vs-font-size);
  --font-size-text-large: calc(1.2 * var(--font-size-text));
  --page-top-content: env(pub-title);
  --page-bottom-content: counter(page);
  --color-red: #f55555;
  --color-red-rgb: 245, 85, 85;
  --color-blue: #3892f2;
  --color-blue-rgb: 56, 146, 242;
  --color-green: #06a306;
  --color-green-rgb: 6, 163, 6;
  --color-yellow: #cece27;
  --color-yellow-rgb: 206, 206, 39;
  --color-orange: #ffa600;
  --color-orange-rgb: 255, 166, 0;
  --color-purple: #c056f4;
  --color-purple-rgb: 192, 86, 244;
  --color-pink: #fd96a7;
  --color-pink-rgb: 253, 150, 167;
  --color-light-blue: #00d0ff;
  --color-light-blue-rgb: 0, 208, 255;
  --color-light-green: #a4fa7f;
  --color-light-green-rgb: 164, 250, 127;
  --primary-color: #00258c;
  --primary-color-rgb: 0, 37, 140;
  --secondary-color: #fcaf21;
  --secondary-color-rgb: 252, 175, 33;
  --vs-font-family: "Roboto", "Noto Sans JP", "Verdana", "Yu Gothic";
  --vs--monospace-font-family: "hack", "Consolas";
  --vs-section--marker-display: inline;
  --vs-section--h1-marker-content: counter(vs-counter-sec-h1);
  --vs-section--h2-marker-content: counter(vs-counter-sec-h1) "." counter(vs-counter-sec-h2);
  --vs-section--h3-marker-content: counter(vs-counter-sec-h1) "." counter(vs-counter-sec-h2) "." counter(vs-counter-sec-h3);
  --vs-section--h4-marker-content: counter(vs-counter-sec-h1) "." counter(vs-counter-sec-h2) "." counter(vs-counter-sec-h3) "." counter(vs-counter-sec-h4);
  --vs-theme--page-top-left-content: none;
  --vs-theme--page-top-right-content: none;
  --vs-theme--page-bottom-content: none;
}

em {
  font-family: "Playfair Display", "Noto Serif JP";
}

blockquote {
  border-left: 8px solid var(--primary-color);
  border-radius: 8px;
  background-color: #fef2e2;
  font-size: var(--font-size-text);
  padding: 0.8em 1em 0.8em 1em;
}
blockquote p::before {
  content: "\f6b0";
  font-family: "bootstrap-icons";
  margin-right: 0.8em;
  color: var(--primary-color);
}

figure figcaption {
  margin: 0;
}
figure figcaption + pre {
  margin-top: 0;
}

@page :left {
  --vs-page--mbox-content-top-left: var(--page-top-content);
  --vs-page--mbox-content-bottom-center: var(--page-bottom-content);
}
@page :right {
  --vs-page--mbox-content-top-left: var(--page-top-content);
  --vs-page--mbox-content-bottom-center: var(--page-bottom-content);
}

/*# sourceMappingURL=style.css.map */
